@import "tailwindcss";
@import "tw-animate-css";

/* SHADCN UI START */
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}
/* SHADCN UI END */

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  --color-black: #242323;
  --color-white: #FDFDFF;
  color: var(--color-black);
  background: #F0F9FF;
  font-weight: 500;
  overflow-x: hidden;
}

section {
  @apply p-10 mx-auto;
}

/* ---- TEXT START ---- */
h1 {
  @apply font-[800] ;
}

h2 {
  @apply text-xl font-bold tracking-wide;
}

h4 {
  @apply font-[700]
}

strong {
  @apply font-[800];
}

.p {
  @apply text-sm font-[400];
}
/* ---- TEXT END ---- */

footer {
  margin-top: auto;
  margin-bottom: 5px;
  background: transparent;
}

/* ---- BUTTONS START ---- */
.button-1 {
  @apply bg-[#3b82f6] text-white font-[700] py-2 px-4 hover:bg-[#1d4ed8] transition-all cursor-pointer;
}

.button-2 {
  @apply border-2 border-[#3b82f6] text-[#3b82f6] font-[700] py-2 px-4 hover:bg-[#3b82f6] hover:text-white transition-all cursor-pointer;
}
/* ---- BUTTONS END ---- */

/* ---- INPUTS & FORMS START ---- */
input[type="text"], textarea {
  @apply border-b border-[#e5e7eb] w-full block py-2 px-2 mb-2;
}

input[type="text"]:hover, textarea:hover {
  @apply border-b border-[#2563eb];
}

label.input-label {
  @apply uppercase text-[#6b7280] text-xs;
}

.radio-togglers {
  @apply p-1 bg-[#e5e7eb] inline-flex;
}

.radio-togglers div {
  @apply p-2 px-4 text-[#6b7280] block flex items-center gap-2 cursor-pointer;
}

.radio-togglers input[type="radio"] {
  @apply hidden;
}

.radio-togglers input[type="radio"]:hover + div {
  @apply text-[#2563eb];
}

.radio-togglers input[type="radio"]:checked + div {
  @apply bg-white text-[#2563eb];
}
/* ---- INPUTS & FORMS END ---- */

/* ---- SMALL OPACITY ON THE OVERLAY OF DRAGGED ELEMENT ---- */
.sortable-ghost {
  opacity: .2;
}

/* ---- SMALL BOX WITH ANGLE BORDERS ---- */
.corner-border {
  @apply py-2 px-4 border-2 border-[#9ca3af]/70;
  --s: 15px; /* the size on the corner */
  -webkit-mask:
  conic-gradient(at var(--s) var(--s),#0000 75%,#000 0)
  0 0/calc(100% - var(--s)) calc(100% - var(--s)),
  linear-gradient(#000 0 0) content-box;
}

/* ---- WHITE BOX ---- */
.box-border-2 {
  @apply flex text-white shadow-sm shadow-gray-800/70;
}

.box-border {
  @apply flex bg-white shadow;
}

.box-border h4,
.box-border-2 h4 {
  @apply text-sm font-bold;
}

.box-border p,
.box-border-2 p {
  @apply text-sm;
}

/* ---- CONTACT FORM START ---- */
.input-div {
  @apply flex flex-col gap-0;
} 

.input-div input,
.input-div textarea {
  @apply border-b-2 border-[#d1d5db] p-1;
}

.input-div label {
  @apply text-sm font-bold text-[#4b5563];
}

.input-div input:hover,
.input-div input:focus,
.input-div textarea:hover,
.input-div textarea:focus {
  @apply border-b-2 border-[#3b82f6];
}

input,
textarea {
  @apply outline-none;
}
/* ---- CONTACT FORM END ---- */

/* ---- WAVE BG START ---- */
.custom-shape-divider-top {
  @apply absolute -top-1 left-0 right-0 w-full fill-[#F0F9FF] overflow-x-hidden;
}

.custom-shape-divider-top svg {
  display: block;
  width: calc(117% + 1.3px);
  height: 130px;
}
/* ---- WAVE BG END ---- */